<div class="p-2">
<h1 class=>Stupid coaching</h1>
<form action="/answer" method="get" data-turbo="false">
  <p class="m-0">Ask your coach anything:</p>
  <input type="text" name="question" placeholder="type your question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
</div>
